# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.cursor

# dependencies
/node_modules
/supabase

# testing
/coverage

# next.js
/.next/
/out/
/map-json
/built-maps

# production
/build

.env*
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Turborepo
.turbo

# PWA
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
